@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

body {
  font-family: 'Plus Jakarta Sans, sans-serif';
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}