:root {
  --swiper-pagination-bullet-color: #1f8a70;
}

.swiperBanner .swiper-pagination-bullet-active {
  box-sizing: border-box;
  width: 24px !important;
  background: white !important;
  border-radius: 6.38672px !important;
}

.swiperBanner .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1 !important;
  height: 10px !important;
  width: 10px;
}

.swiperBanner .swiper-pagination {
  align-items: start !important;
  justify-content: flex-start !important;
  justify-items: flex-start !important;
  /* margin: 0!important; */
  height: 200;
  padding-right: 70% !important;
}

.box-menu-item:hover p {
  color: white;
}

.swiperNews .swiper-pagination-bullet-active {
  box-sizing: border-box;
  width: 50px !important;
  background: var(--swiper-pagination-bullet-color) !important;
  border-radius: 6.38672px !important;
}

.swiperNews .swiper-pagination-bullet {
  background-color: grey;
  opacity: 1 !important;
  height: 10px !important;
  width: 10px;
  margin-top: 100px !important;
}

.swiperNews .swiper-pagination {
  align-items: start !important;
  justify-content: flex-start !important;
  justify-items: flex-start !important;
  /* margin-top: 100px!important;
  height: 200; */
}
